
<template name="underContractQuestion">

    <div>
        <h5>Are you under currently contract?</h5>

        <!-- Navigation Buttons -->
        <div class="row mt-4 justify-content-center">
            <div class="col">
                <button type="button" class="btn btn-outline-secondary js-go-back pull-left">&lt; Back</button>
                <div class="pull-right">
                    <button type="button" class="btn btn-large btn-secondary mr-1 px-4 js-no-list">No</button>
                    <button type="button" class="btn btn-primary px-4 js-under-contract">Yes</button>
                </div>
            </div>
        </div>

    </div>

</template>